html {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  line-height: normal;
}

body {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Open Sans,Arial,sans-serif;
  background-color: #21252a;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  color: #f5f5f5;
}


header {
    background-color: #404244;
    height: 6.5rem;
    display: flex;
    align-items: center;
    position: relative;
}
header h1 {
  color: #f5f5f5;
  font-size: 28px;
 margin: auto;
}

main {
  width: 100%;

  margin: 0 auto;
  color: #e0e0e0;
}
section {
  padding: 15px;
  color: #e9e9e9;
}
.searchbox{
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;

}

.results {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 150px;

}
/* .results .result {
  
  
} */

img {
  width:250px;
  background-color: #21252a;
}