html {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  line-height: normal;
}

body {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Open Sans,Arial,sans-serif;
  background-color: #f5f5f6;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ff4800;
}


header {
    background-color: #21252a;
    height: 6.5rem;
    display: flex;
    align-items: center;
    position: relative;
}
header h1 {
  color: #ff4800;
  font-size: 28px;
 margin: auto;
}

main {
  width: 100%;

  margin: 0 auto;
  color: #21252a;
}
section {
  padding: 15px;
  color: #ff4800;
}
.searchbox{
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;

}

.results {
  display: flex;

}
.results .result {
  width: 35%;
  
}